/* ----------------------------------------------------------------------------------------------------- */
/*  @ Import/write your custom styles here.
/*  @ Styles from this file will override 'vendors.scss' and Fuse's base styles.
/* ----------------------------------------------------------------------------------------------------- */
/* Asegúrate de aplicar los estilos tanto a las celdas de encabezado como a las de las filas */
::ng-deep .mat-elevation-z8.custom-table .mat-header-row .mat-column-id,
::ng-deep .mat-elevation-z8.custom-table .mat-row .mat-column-id {
  width: 5% !important;
  text-align: center !important;
}

::ng-deep .mat-elevation-z8.custom-table .mat-header-row .mat-column-nombre,
::ng-deep .mat-elevation-z8.custom-table .mat-row .mat-column-nombre {
  width: 20% !important;
  text-align: left !important;
}

::ng-deep .mat-elevation-z8.custom-table .mat-header-row .mat-column-descripcion,
::ng-deep .mat-elevation-z8.custom-table .mat-row .mat-column-descripcion {
  width: 25% !important;
  text-align: left !important;
}

::ng-deep .mat-elevation-z8.custom-table .mat-header-row .mat-column-lastModified,
::ng-deep .mat-elevation-z8.custom-table .mat-row .mat-column-lastModified {
  width: 25% !important;
  text-align: center !important;
}

::ng-deep .mat-elevation-z8.custom-table .mat-header-row .mat-column-opciones,
::ng-deep .mat-elevation-z8.custom-table .mat-row .mat-column-opciones {
  width: 25% !important;
  text-align: right !important;
}

/* Asegúrate de que todo el formulario ocupe el ancho completo */
.mat-form-field {
  width: 100%; /* Asegura que cada campo ocupe todo el ancho disponible */
}

button.mat-button {
  background-color: #6366f1; /* Color de fondo para el botón */
  color: white; /* Color del texto */
}

button.mat-raised-button {
  background-color: #6366f1; /* Color de fondo para el botón de envío */
  color: white; /* Color del texto */
}

input[type="file"] {
  display: none; /* Ocultar el input file */
}

.small-header {
  flex:auto;
  justify-content: flex-start;
  width: 11%;
}
.small-headerr {
  flex:none;
  width: 11%;
  padding: none;
}

.small-header1 {
  flex:auto;
  justify-content: flex-start;
  width: 15%;
  padding-left: 0%;
}
.small-header11 {
  flex:none;
  width: 15%;
  padding-left: 0%;
}

.small-header2 {
  flex:auto;
  justify-content: flex-start;
  width: 23%;
  padding-left: 0%;
}
.small-header22 {
  flex:none;
  width: 23%;
  padding-left: 0%;
}

.small-header3 {
  flex:auto;
  width: 20%;
  padding-left: 0%;
}
.small-header33 {
  flex:none;
  width: 20%;
  padding-left: 0%;
}

.small-header4 {
  flex:auto;
  width: 20%;
  padding-left: 0%;
}
.small-header44 {
  flex:none;
  width: 20%;
  padding-left: 0%;
}

.small-header5 {
  flex:auto;
  justify-content: center;
  align-items: center;
  width: 11%;
  padding-left: 0%;
}
.small-header55 {
  flex: none;
  width: 11%;
  padding-left: 0%;
  justify-content: center;
  align-items: center;
}
mat-slide-toggle {
  transform: scale(0.8); /* Reduce el tamaño del switch */
}
